---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import {Content as Resume} from '../content/resume.md';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<table width="100%">
				<tr class="content">
					<td align="right">
						<p>
							[<a href="docs/apresume.pdf">PDF</a>]&nbsp;[<a href="docs/apresume.docx">DOC</a>]
						</p>
					</td>
				</tr>
			</table>
			<Resume />
		</main>
		<Footer />
	</body>
</html>
